@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
.mapboxgl-popup {
    animation: fadein 0.2s; 
}
.mapboxgl-popup-content { 
    border-radius: 12px; padding: 13px 19px; box-shadow: 0 3px 14px rgba(0,0,0,0.4); 
}
.mapboxgl-popup-close-button {
    font-size: 16px; color: #c3c3c3; font-weight: bold; padding: 12px;
}
.mapboxgl-popup-close-button:hover {
    color: rgb(109, 109, 109); background-color: transparent !important;
}

.react-geocoder {
    width: 100%;
    }

.react-geocoder input {
    min-width: 100% !important;
    height: 50px;
    padding-left: 12px;
    background-color: transparent;
    }

.react-geocoder input:focus {
    outline: none;
}

.react-geocoder-results {
    background-color: white;
    padding: 6px 12px;
    border-radius: 10px;
    margin-top: 4px;
}

.react-geocoder-item {
    padding-top: 8px;
}

select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../assets/caret-down.svg");
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
  }


.bg-container {
    background-image: url("../assets/blank-map.png");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale();
    opacity: 0.1;
}

.loader {
    width: 25%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    overflow: hidden;
  }
  .loader::after {
    content: '';
    width: 96px;
    height: 4.8px;
    background: rgb(34, 34, 34);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: loading 1s linear infinite alternate;
  }
  
  @keyframes loading {
    0% {
      left: 0;
      transform: translateX(-1%);
    }
    100% {
      left: 100%;
      transform: translateX(-99%);
    }
  }

  @media only screen and (max-width: 768px) {
    .loader {
        width: 50%;
    }
  }